.image2  
  .AccountPage
    
    .AccountPage__title
      %h2 アカウントの編集
    
    .AccountPage__form
      = form_for(current_user) do |f|
        .FormField
          .FormField__label--normal
            = f.label :名前
          .FormField__input--normal
            = f.text_field :name, autofocus: true
        .FormField
          .FormField__label--normal
            = f.label :メールアドレス
          .FormField__input--normal
            = f.email_field :email
        = f.submit "更新する", class: 'Button UserButton'