!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ski
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body

  .Bar
    .Header
      .Header__title
        Enjoy The Winter   
      .Header__list
        -if user_signed_in?
          %h3.Header__userName
            =current_user.name
          %ul.Header__List
            %li.Header__select
              = link_to "一覧へ", areas_path(current_user)   
            %li.Header__select
              = link_to "編集", edit_user_path(current_user)     
            %li.Header__select
              = link_to "ログアウト", destroy_user_session_path, method: :delete
           
        -else  
          %ul.Header__List
            %li.Header__select
              = link_to "ログイン", new_user_session_path, class: "post"   
              
    = yield
